################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AppTiendaWeb/obj
/AppTiendaWeb/bin/Debug/net6.0
/.vs/AppTiendaWeb/FileContentIndex
Core.Business/bin/Debug/net6.0/Core.Business.dll
Core.Business/bin/Debug/net6.0/Core.Business.pdb
Core.Business/bin/Debug/net6.0/Core.Contracts.dll
Core.Business/bin/Debug/net6.0/Core.Contracts.pdb
Core.Business/bin/Debug/net6.0/Core.Models.dll
Core.Business/bin/Debug/net6.0/Core.Models.pdb
Core.Business/obj/Debug/net6.0/Core.Business.dll
Core.Business/obj/Debug/net6.0/Core.Business.pdb
Core.Contracts/bin/Debug/net6.0/Core.Contracts.dll
Core.Contracts/bin/Debug/net6.0/Core.Contracts.pdb
Core.Contracts/bin/Debug/net6.0/Core.Models.dll
Core.Contracts/bin/Debug/net6.0/Core.Models.pdb
Core.Contracts/obj/Debug/net6.0/Core.Contracts.dll
Core.Contracts/obj/Debug/net6.0/Core.Contracts.pdb
Core.Models/bin/Debug/net6.0/Core.Models.dll
Core.Models/bin/Debug/net6.0/Core.Models.pdb
Core.Models/obj/Debug/net6.0/Core.Models.dll
Core.Models/obj/Debug/net6.0/Core.Models.pdb
Infraestructure.Data/bin/Debug/net6.0/Core.Contracts.dll
Infraestructure.Data/bin/Debug/net6.0/Core.Contracts.pdb
Infraestructure.Data/bin/Debug/net6.0/Core.Models.dll
Infraestructure.Data/bin/Debug/net6.0/Core.Models.pdb
Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.dll
Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.pdb
Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.dll
Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.pdb
Transversal.Resolver/bin/Debug/net6.0/Core.Business.dll
Transversal.Resolver/bin/Debug/net6.0/Core.Business.pdb
Transversal.Resolver/bin/Debug/net6.0/Core.Contracts.dll
Transversal.Resolver/bin/Debug/net6.0/Core.Contracts.pdb
Transversal.Resolver/bin/Debug/net6.0/Core.Models.dll
Transversal.Resolver/bin/Debug/net6.0/Core.Models.pdb
Transversal.Resolver/bin/Debug/net6.0/Infraestructure.Data.dll
Transversal.Resolver/bin/Debug/net6.0/Infraestructure.Data.pdb
Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.dll
Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.pdb
Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.dll
Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.pdb
Core.Business/obj/Debug/net6.0/Core.Business.csproj.AssemblyReference.cache
.gitignore
Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.csproj.AssemblyReference.cache
Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.csproj.AssemblyReference.cache
/Core.Business/bin/Debug/net6.0/Core.Business.dll
/Core.Business/bin/Debug/net6.0/Core.Business.pdb
/Core.Business/bin/Debug/net6.0/Core.Contracts.dll
/Core.Business/bin/Debug/net6.0/Core.Contracts.pdb
/Core.Business/bin/Debug/net6.0/Core.Models.dll
/Core.Business/bin/Debug/net6.0/Core.Models.pdb
/Core.Business/obj/Debug/net6.0/ref/Core.Business.dll
/Core.Business/obj/Debug/net6.0/refint/Core.Business.dll
/Core.Business/obj/Debug/net6.0/Core.Business.csproj.AssemblyReference.cache
/Core.Business/obj/Debug/net6.0/Core.Business.csproj.CoreCompileInputs.cache
/Core.Business/obj/Debug/net6.0/Core.Business.dll
/Core.Business/obj/Debug/net6.0/Core.Business.pdb
/Core.Contracts/bin/Debug/net6.0/Core.Contracts.dll
/Core.Contracts/bin/Debug/net6.0/Core.Contracts.pdb
/Core.Contracts/bin/Debug/net6.0/Core.Models.dll
/Core.Contracts/bin/Debug/net6.0/Core.Models.pdb
/Core.Contracts/obj/Debug/net6.0/ref/Core.Contracts.dll
/Core.Contracts/obj/Debug/net6.0/refint/Core.Contracts.dll
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.csproj.AssemblyReference.cache
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.csproj.CoreCompileInputs.cache
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.dll
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.pdb
/Core.Models/bin/Debug/net6.0/Core.Models.dll
/Core.Models/bin/Debug/net6.0/Core.Models.pdb
/Core.Models/obj/Debug/net6.0/ref/Core.Models.dll
/Core.Models/obj/Debug/net6.0/refint/Core.Models.dll
/Core.Models/obj/Debug/net6.0/Core.Models.csproj.CoreCompileInputs.cache
/Core.Models/obj/Debug/net6.0/Core.Models.dll
/Core.Models/obj/Debug/net6.0/Core.Models.pdb
/Infraestructure.Data/bin/Debug/net6.0/Core.Contracts.dll
/Infraestructure.Data/bin/Debug/net6.0/Core.Contracts.pdb
/Infraestructure.Data/bin/Debug/net6.0/Core.Models.dll
/Infraestructure.Data/bin/Debug/net6.0/Core.Models.pdb
/Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.dll
/Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.pdb
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.csproj.AssemblyReference.cache
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.dll
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.pdb
/Transversal.Resolver/bin/Debug/net6.0/Core.Business.dll
/Transversal.Resolver/bin/Debug/net6.0/Core.Business.pdb
/Transversal.Resolver/bin/Debug/net6.0/Core.Contracts.dll
/Transversal.Resolver/bin/Debug/net6.0/Core.Contracts.pdb
/Transversal.Resolver/bin/Debug/net6.0/Core.Models.dll
/Transversal.Resolver/bin/Debug/net6.0/Core.Models.pdb
/Transversal.Resolver/bin/Debug/net6.0/Infraestructure.Data.dll
/Transversal.Resolver/bin/Debug/net6.0/Infraestructure.Data.pdb
/Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.dll
/Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.pdb
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.csproj.AssemblyReference.cache
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.dll
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.pdb
/.vs/AppTiendaWeb/DesignTimeBuild/.dtbcache.v2
/.vs/AppTiendaWeb/v17/.suo
