################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AppTiendaWeb/obj
/AppTiendaWeb/bin/Debug/net6.0
/.vs/AppTiendaWeb/FileContentIndex
