################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AppTiendaWeb/obj
/AppTiendaWeb/bin/Debug/net6.0
/.vs/AppTiendaWeb/FileContentIndex
Core.Business/bin/Debug/net6.0/Core.Business.dll
Core.Business/bin/Debug/net6.0/Core.Business.pdb
Core.Business/bin/Debug/net6.0/Core.Contracts.dll
Core.Business/bin/Debug/net6.0/Core.Contracts.pdb
Core.Business/bin/Debug/net6.0/Core.Models.dll
Core.Business/bin/Debug/net6.0/Core.Models.pdb
Core.Business/obj/Debug/net6.0/Core.Business.dll
Core.Business/obj/Debug/net6.0/Core.Business.pdb
Core.Contracts/bin/Debug/net6.0/Core.Contracts.dll
Core.Contracts/bin/Debug/net6.0/Core.Contracts.pdb
Core.Contracts/bin/Debug/net6.0/Core.Models.dll
Core.Contracts/bin/Debug/net6.0/Core.Models.pdb
Core.Contracts/obj/Debug/net6.0/Core.Contracts.dll
Core.Contracts/obj/Debug/net6.0/Core.Contracts.pdb
Core.Models/bin/Debug/net6.0/Core.Models.dll
Core.Models/bin/Debug/net6.0/Core.Models.pdb
Core.Models/obj/Debug/net6.0/Core.Models.dll
Core.Models/obj/Debug/net6.0/Core.Models.pdb
Infraestructure.Data/bin/Debug/net6.0/Core.Contracts.dll
Infraestructure.Data/bin/Debug/net6.0/Core.Contracts.pdb
Infraestructure.Data/bin/Debug/net6.0/Core.Models.dll
Infraestructure.Data/bin/Debug/net6.0/Core.Models.pdb
Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.dll
Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.pdb
Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.dll
Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.pdb
Transversal.Resolver/bin/Debug/net6.0/Core.Business.dll
Transversal.Resolver/bin/Debug/net6.0/Core.Business.pdb
Transversal.Resolver/bin/Debug/net6.0/Core.Contracts.dll
Transversal.Resolver/bin/Debug/net6.0/Core.Contracts.pdb
Transversal.Resolver/bin/Debug/net6.0/Core.Models.dll
Transversal.Resolver/bin/Debug/net6.0/Core.Models.pdb
Transversal.Resolver/bin/Debug/net6.0/Infraestructure.Data.dll
Transversal.Resolver/bin/Debug/net6.0/Infraestructure.Data.pdb
Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.dll
Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.pdb
Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.dll
Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.pdb
Core.Business/obj/Debug/net6.0/Core.Business.csproj.AssemblyReference.cache
.gitignore
Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.csproj.AssemblyReference.cache
Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.csproj.AssemblyReference.cache
/Core.Business/bin/Debug/net6.0/Core.Business.dll
/Core.Business/bin/Debug/net6.0/Core.Business.pdb
/Core.Business/bin/Debug/net6.0/Core.Contracts.dll
/Core.Business/bin/Debug/net6.0/Core.Contracts.pdb
/Core.Business/bin/Debug/net6.0/Core.Models.dll
/Core.Business/bin/Debug/net6.0/Core.Models.pdb
/Core.Business/obj/Debug/net6.0/ref/Core.Business.dll
/Core.Business/obj/Debug/net6.0/refint/Core.Business.dll
/Core.Business/obj/Debug/net6.0/Core.Business.csproj.AssemblyReference.cache
/Core.Business/obj/Debug/net6.0/Core.Business.csproj.CoreCompileInputs.cache
/Core.Business/obj/Debug/net6.0/Core.Business.dll
/Core.Business/obj/Debug/net6.0/Core.Business.pdb
/Core.Contracts/bin/Debug/net6.0/Core.Contracts.dll
/Core.Contracts/bin/Debug/net6.0/Core.Contracts.pdb
/Core.Contracts/bin/Debug/net6.0/Core.Models.dll
/Core.Contracts/bin/Debug/net6.0/Core.Models.pdb
/Core.Contracts/obj/Debug/net6.0/ref/Core.Contracts.dll
/Core.Contracts/obj/Debug/net6.0/refint/Core.Contracts.dll
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.csproj.AssemblyReference.cache
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.csproj.CoreCompileInputs.cache
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.dll
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.pdb
/Core.Models/bin/Debug/net6.0/Core.Models.dll
/Core.Models/bin/Debug/net6.0/Core.Models.pdb
/Core.Models/obj/Debug/net6.0/ref/Core.Models.dll
/Core.Models/obj/Debug/net6.0/refint/Core.Models.dll
/Core.Models/obj/Debug/net6.0/Core.Models.csproj.CoreCompileInputs.cache
/Core.Models/obj/Debug/net6.0/Core.Models.dll
/Core.Models/obj/Debug/net6.0/Core.Models.pdb
/Infraestructure.Data/bin/Debug/net6.0/Core.Contracts.dll
/Infraestructure.Data/bin/Debug/net6.0/Core.Contracts.pdb
/Infraestructure.Data/bin/Debug/net6.0/Core.Models.dll
/Infraestructure.Data/bin/Debug/net6.0/Core.Models.pdb
/Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.dll
/Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.pdb
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.csproj.AssemblyReference.cache
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.dll
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.pdb
/Transversal.Resolver/bin/Debug/net6.0/Core.Business.dll
/Transversal.Resolver/bin/Debug/net6.0/Core.Business.pdb
/Transversal.Resolver/bin/Debug/net6.0/Core.Contracts.dll
/Transversal.Resolver/bin/Debug/net6.0/Core.Contracts.pdb
/Transversal.Resolver/bin/Debug/net6.0/Core.Models.dll
/Transversal.Resolver/bin/Debug/net6.0/Core.Models.pdb
/Transversal.Resolver/bin/Debug/net6.0/Infraestructure.Data.dll
/Transversal.Resolver/bin/Debug/net6.0/Infraestructure.Data.pdb
/Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.dll
/Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.pdb
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.csproj.AssemblyReference.cache
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.dll
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.pdb
/.vs/AppTiendaWeb/DesignTimeBuild/.dtbcache.v2
/.vs/AppTiendaWeb/v17/.suo
/.vs/AppTiendaWeb/v17/.futdcache.v2
/.vs/ProjectEvaluation/apptiendaweb.metadata.v7.bin
/.vs/ProjectEvaluation/apptiendaweb.projects.v7.bin
/Core.Business/bin/Debug/net6.0/Core.Business.deps.json
/Core.Business/obj/Core.Business.csproj.nuget.dgspec.json
/Core.Business/obj/Debug/net6.0/Core.Business.assets.cache
/Core.Business/obj/project.assets.json
/Core.Business/obj/project.nuget.cache
/Core.Contracts/obj/Core.Contracts.csproj.nuget.dgspec.json
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.assets.cache
/Core.Contracts/obj/project.assets.json
/Core.Contracts/obj/project.nuget.cache
/Core.Models/obj/Core.Models.csproj.nuget.dgspec.json
/Core.Models/obj/Debug/net6.0/Core.Models.assets.cache
/Core.Models/obj/Debug/net6.0/Core.Models.csproj.AssemblyReference.cache
/Core.Models/obj/project.assets.json
/Core.Models/obj/project.nuget.cache
/Core.Contracts/bin/Debug/net6.0/Core.Contracts.deps.json
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.assets.cache
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.csproj.CoreCompileInputs.cache
/Infraestructure.Data/obj/Infraestructure.Data.csproj.nuget.dgspec.json
/Infraestructure.Data/obj/project.assets.json
/Infraestructure.Data/obj/project.nuget.cache
/Transversal.Resolver/bin/Debug/net6.0/Transversal.Resolver.deps.json
/Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.deps.json
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.assets.cache
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.csproj.CoreCompileInputs.cache
/Transversal.Resolver/obj/project.assets.json
/Transversal.Resolver/obj/project.nuget.cache
/Transversal.Resolver/obj/Transversal.Resolver.csproj.nuget.dgspec.json
/Core.Models/bin/Debug/net6.0/Core.Models.deps.json
/Core.Business/bin/Release/net6.0/Core.Business.deps.json
/Core.Business/bin/Release/net6.0/Core.Business.dll
/Core.Business/bin/Release/net6.0/Core.Business.pdb
/Core.Business/bin/Release/net6.0/Core.Contracts.dll
/Core.Business/bin/Release/net6.0/Core.Contracts.pdb
/Core.Business/bin/Release/net6.0/Core.Models.dll
/Core.Business/bin/Release/net6.0/Core.Models.pdb
/Core.Business/obj/Release/net6.0/ref/Core.Business.dll
/Core.Business/obj/Release/net6.0/refint/Core.Business.dll
/Core.Business/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Core.Business/obj/Release/net6.0/Core.Business.AssemblyInfo.cs
/Core.Business/obj/Release/net6.0/Core.Business.AssemblyInfoInputs.cache
/Core.Business/obj/Release/net6.0/Core.Business.assets.cache
/Core.Business/obj/Release/net6.0/Core.Business.csproj.AssemblyReference.cache
/Core.Business/obj/Release/net6.0/Core.Business.csproj.BuildWithSkipAnalyzers
/Core.Business/obj/Release/net6.0/Core.Business.csproj.CopyComplete
/Core.Business/obj/Release/net6.0/Core.Business.csproj.CoreCompileInputs.cache
/Core.Business/obj/Release/net6.0/Core.Business.csproj.FileListAbsolute.txt
/Core.Business/obj/Release/net6.0/Core.Business.dll
/Core.Business/obj/Release/net6.0/Core.Business.GeneratedMSBuildEditorConfig.editorconfig
/Core.Business/obj/Release/net6.0/Core.Business.GlobalUsings.g.cs
/Core.Business/obj/Release/net6.0/Core.Business.pdb
/Core.Contracts/bin/Release/net6.0/Core.Contracts.deps.json
/Core.Contracts/bin/Release/net6.0/Core.Contracts.dll
/Core.Contracts/bin/Release/net6.0/Core.Contracts.pdb
/Core.Contracts/bin/Release/net6.0/Core.Models.dll
/Core.Contracts/bin/Release/net6.0/Core.Models.pdb
/Core.Contracts/obj/Release/net6.0/ref/Core.Contracts.dll
/Core.Contracts/obj/Release/net6.0/refint/Core.Contracts.dll
/Core.Contracts/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Core.Contracts/obj/Release/net6.0/Core.Contracts.AssemblyInfo.cs
/Core.Contracts/obj/Release/net6.0/Core.Contracts.AssemblyInfoInputs.cache
/Core.Contracts/obj/Release/net6.0/Core.Contracts.assets.cache
/Core.Contracts/obj/Release/net6.0/Core.Contracts.csproj.AssemblyReference.cache
/Core.Contracts/obj/Release/net6.0/Core.Contracts.csproj.BuildWithSkipAnalyzers
/Core.Contracts/obj/Release/net6.0/Core.Contracts.csproj.CopyComplete
/Core.Contracts/obj/Release/net6.0/Core.Contracts.csproj.CoreCompileInputs.cache
/Core.Contracts/obj/Release/net6.0/Core.Contracts.csproj.FileListAbsolute.txt
/Core.Contracts/obj/Release/net6.0/Core.Contracts.dll
/Core.Contracts/obj/Release/net6.0/Core.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/Core.Contracts/obj/Release/net6.0/Core.Contracts.GlobalUsings.g.cs
/Core.Contracts/obj/Release/net6.0/Core.Contracts.pdb
/Core.Models/bin/Release/net6.0/Core.Models.deps.json
/Core.Models/bin/Release/net6.0/Core.Models.dll
/Core.Models/bin/Release/net6.0/Core.Models.pdb
/Core.Models/obj/Release/net6.0/ref/Core.Models.dll
/Core.Models/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Core.Models/obj/Release/net6.0/Core.Models.AssemblyInfo.cs
/Core.Models/obj/Release/net6.0/Core.Models.AssemblyInfoInputs.cache
/Core.Models/obj/Release/net6.0/Core.Models.assets.cache
/Core.Models/obj/Release/net6.0/Core.Models.csproj.AssemblyReference.cache
/Core.Models/obj/Release/net6.0/Core.Models.csproj.BuildWithSkipAnalyzers
/Core.Models/obj/Release/net6.0/Core.Models.csproj.CoreCompileInputs.cache
/Core.Models/obj/Release/net6.0/Core.Models.csproj.FileListAbsolute.txt
/Core.Models/obj/Release/net6.0/Core.Models.dll
/Core.Models/obj/Release/net6.0/Core.Models.GeneratedMSBuildEditorConfig.editorconfig
/Core.Models/obj/Release/net6.0/Core.Models.GlobalUsings.g.cs
/Core.Models/obj/Release/net6.0/Core.Models.pdb
/Core.Models/obj/Release/net6.0/refint/Core.Models.dll
/Infraestructure.Data/bin/Release/net6.0/Core.Contracts.dll
/Infraestructure.Data/bin/Release/net6.0/Core.Contracts.pdb
/Infraestructure.Data/bin/Release/net6.0/Core.Models.dll
/Infraestructure.Data/bin/Release/net6.0/Core.Models.pdb
/Infraestructure.Data/bin/Release/net6.0/Infraestructure.Data.deps.json
/Infraestructure.Data/bin/Release/net6.0/Infraestructure.Data.dll
/Infraestructure.Data/bin/Release/net6.0/Infraestructure.Data.pdb
/Infraestructure.Data/bin/Release/net6.0/Infraestructure.Data.runtimeconfig.json
/Infraestructure.Data/obj/Release/net6.0/ref/Infraestructure.Data.dll
/Infraestructure.Data/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.AssemblyInfo.cs
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.AssemblyInfoInputs.cache
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.assets.cache
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.csproj.AssemblyReference.cache
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.csproj.BuildWithSkipAnalyzers
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.csproj.CopyComplete
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.csproj.CoreCompileInputs.cache
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.csproj.FileListAbsolute.txt
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.dll
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.GeneratedMSBuildEditorConfig.editorconfig
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.genruntimeconfig.cache
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.GlobalUsings.g.cs
/Infraestructure.Data/obj/Release/net6.0/Infraestructure.Data.pdb
/Infraestructure.Data/obj/Release/net6.0/refint/Infraestructure.Data.dll
/Transversal.Resolver/bin/Release/net6.0/Core.Business.dll
/Transversal.Resolver/bin/Release/net6.0/Core.Business.pdb
/Transversal.Resolver/bin/Release/net6.0/Core.Contracts.dll
/Transversal.Resolver/bin/Release/net6.0/Core.Contracts.pdb
/Transversal.Resolver/bin/Release/net6.0/Core.Models.dll
/Transversal.Resolver/bin/Release/net6.0/Core.Models.pdb
/Transversal.Resolver/bin/Release/net6.0/Infraestructure.Data.dll
/Transversal.Resolver/bin/Release/net6.0/Infraestructure.Data.pdb
/Transversal.Resolver/bin/Release/net6.0/Transversal.Resolver.deps.json
/Transversal.Resolver/bin/Release/net6.0/Transversal.Resolver.dll
/Transversal.Resolver/bin/Release/net6.0/Transversal.Resolver.pdb
/Transversal.Resolver/obj/Release/net6.0/ref/Transversal.Resolver.dll
/Transversal.Resolver/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Transversal.Resolver/obj/Release/net6.0/refint/Transversal.Resolver.dll
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.AssemblyInfo.cs
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.AssemblyInfoInputs.cache
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.assets.cache
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.csproj.AssemblyReference.cache
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.csproj.BuildWithSkipAnalyzers
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.csproj.CopyComplete
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.csproj.CoreCompileInputs.cache
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.csproj.FileListAbsolute.txt
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.dll
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.GeneratedMSBuildEditorConfig.editorconfig
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.GlobalUsings.g.cs
/Transversal.Resolver/obj/Release/net6.0/Transversal.Resolver.pdb
/.vs/AppTienda/FileContentIndex/4a763991-dec9-4ab0-a451-75ef799ab125.vsidx
/.vs/AppTienda/FileContentIndex/78e60730-0e98-412f-9ff3-2a9008b209f8.vsidx
/.vs/AppTienda/FileContentIndex/964890f8-9862-4b5f-8b54-df7778d2fad8.vsidx
/.vs/AppTienda/FileContentIndex/994d79f4-dca4-48b0-a171-19a96ffe08fc.vsidx
/.vs/AppTienda/FileContentIndex/f0bff745-033f-4066-8275-32c4e565d4cd.vsidx
/.vs/AppTienda/v17/.wsuo
/.vs/slnx.sqlite
/AppTiendaWeb/bin/Release/net6.0/Core.Business.dll
/AppTiendaWeb/bin/Release/net6.0/Core.Business.pdb
/AppTiendaWeb/bin/Release/net6.0/Core.Contracts.dll
/AppTiendaWeb/bin/Release/net6.0/Core.Contracts.pdb
/AppTiendaWeb/bin/Release/net6.0/Core.Models.dll
/AppTiendaWeb/bin/Release/net6.0/Core.Models.pdb
/AppTiendaWeb/bin/Release/net6.0/Infraestructure.Data.dll
/AppTiendaWeb/bin/Release/net6.0/Infraestructure.Data.pdb
/AppTiendaWeb/bin/Release/net6.0/Presentation.AppTiendaWeb.dll
/AppTiendaWeb/bin/Release/net6.0/Presentation.AppTiendaWeb.pdb
/AppTiendaWeb/bin/Release/net6.0/Presentation.AppTiendaWeb.staticwebassets.runtime.json
/AppTiendaWeb/bin/Release/net6.0/Transversal.Resolver.dll
/AppTiendaWeb/bin/Release/net6.0/Transversal.Resolver.pdb
/Infraestructure.Data/bin/Debug/net6.0/Infraestructure.Data.runtimeconfig.json
/Core.Business/obj/Debug/net6.0/Core.Business.AssemblyInfo.cs
/Core.Business/obj/Debug/net6.0/Core.Business.AssemblyInfoInputs.cache
/Core.Business/obj/Debug/net6.0/Core.Business.csproj.CopyComplete
/Core.Business/obj/Debug/net6.0/Core.Business.csproj.FileListAbsolute.txt
/Core.Business/obj/Debug/net6.0/Core.Business.GeneratedMSBuildEditorConfig.editorconfig
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.AssemblyInfo.cs
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.AssemblyInfoInputs.cache
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.csproj.CopyComplete
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.csproj.FileListAbsolute.txt
/Core.Contracts/obj/Debug/net6.0/Core.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/Core.Models/obj/Debug/net6.0/Core.Models.AssemblyInfo.cs
/Core.Models/obj/Debug/net6.0/Core.Models.AssemblyInfoInputs.cache
/Core.Models/obj/Debug/net6.0/Core.Models.csproj.FileListAbsolute.txt
/Core.Models/obj/Debug/net6.0/Core.Models.GeneratedMSBuildEditorConfig.editorconfig
/Infraestructure.Data/obj/Debug/net6.0/ref/Infraestructure.Data.dll
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.AssemblyInfo.cs
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.AssemblyInfoInputs.cache
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.csproj.CopyComplete
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.csproj.FileListAbsolute.txt
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.GeneratedMSBuildEditorConfig.editorconfig
/Infraestructure.Data/obj/Debug/net6.0/Infraestructure.Data.genruntimeconfig.cache
/Infraestructure.Data/obj/Debug/net6.0/refint/Infraestructure.Data.dll
/Transversal.Resolver/obj/Debug/net6.0/ref/Transversal.Resolver.dll
/Transversal.Resolver/obj/Debug/net6.0/refint/Transversal.Resolver.dll
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.AssemblyInfo.cs
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.AssemblyInfoInputs.cache
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.csproj.CopyComplete
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.csproj.FileListAbsolute.txt
/Transversal.Resolver/obj/Debug/net6.0/Transversal.Resolver.GeneratedMSBuildEditorConfig.editorconfig
