<main>
    <div class="card">
        <h5 class="card-header">Usuario - Perfil</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form method="post" autocomplete="off" id="frmPerfil">
                        <input type="text" id="PerfilUsuarioId" hidden readonly >
                        <input type="text" id="PerfilActivo" hidden readonly >
                        <div class="row">
                            <div class="col-12">
                                <h5>Datos personales</h5>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" id="PerfilNombre" name="PerfilNombre" class="form-control" placeholder="PerfilNombre"
                                        required autocomplete="off" />
                                    <label for="PerfilNombre">Nombre</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" id="PerfilPaterno" name="PerfilPaterno" class="form-control"
                                        placeholder="PerfilPaterno" required autocomplete="off" />
                                    <label for="PerfilPaterno">Apellido Paterno</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" id="PerfilMaterno" name="PerfilMaterno" class="form-control"
                                        placeholder="PerfilMaterno" required autocomplete="off" />
                                    <label for="PerfilMaterno">Apellido Materno</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="tel" id="PerfilTelefono" name="PerfilTelefono" class="form-control"
                                        placeholder="PerfilTelefono" autocomplete="off" />
                                    <label for="PerfilTelefono">Telefono</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="email" id="PerfilEmail" name="PerfilEmail" class="form-control" placeholder="PerfilEmail"
                                        required autocomplete="off" />
                                    <label for="PerfilEmail">Email</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" id="PerfilPassword" name="PerfilPassword" class="form-control"
                                        placeholder="PerfilPassword" autocomplete="off" />
                                    <label for="PerfilPassword">Contraseña</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" id="PerfilConfirmPassword" name="PerilfConfirmPassword"
                                        class="form-control" placeholder="PerfilConfirmPassword" 
                                        autocomplete="off" />
                                    <label for="PerfilConfirmPassword">Confirma Contraseña</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-12">
                                <h5>Dirección</h5>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <select id="PerfilEstadoId" name="PerfilEstadoId" class="form-select"
                                        aria-label="Floating label select example">
                                    </select>
                                    <label for="PerfilEstadoId">Estado</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" id="PerfilCiudad" name="PerfilCiudad" class="form-control"
                                        placeholder="PerfilCiudad" required autocomplete="off" />
                                    <label for="PerfilCiudad">Ciudad</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" id="PerfilCp" name="PerfilCp" class="form-control"
                                        placeholder="codigo postal" required autocomplete="off" />
                                    <label for="PerfilCp">Codigo Postal</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" id="PerfilColonia" name="PerfilColonia" class="form-control"
                                        placeholder="PerfilColonia" required autocomplete="off" />
                                    <label for="PerfilColonia">Colonia</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" id="PerfilCalle" name="PerfilCalle" class="form-control" placeholder="PerfilCalle"
                                        required autocomplete="off" />
                                    <label for="PerfilCalle">Calle</label>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" id="PerfilNumero" name="PerfilNumero" class="form-control"
                                        placeholder="PerfilNumero" autocomplete="off" />
                                    <label for="PerfilNumero">Numero</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>