<main>
    <div class="card">
        <h5 class="card-header">Usuario - Reporte</h5>
        <div class="card-body">
            <div class="row">
                <div class="col align-self-start">
                    <h5 class="card-title">Lista de movimientos</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="divReporte">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                    </div>
                </div>
                <div class="col-12"></div>
            </div>
        </div>
    </div>
</main>