<main>
    <div class="card">
        <h5 class="card-header">Usuario</h5>
        <div class="card-body">
            <div class="row">
                <div class="d-grid">
                    <h5 class="card-title">Lista de usuarios</h5>
                    <div class="gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-primary me-md-2" type="button" id="btnNuevoUsuario">Nuevo</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12" id="divListUser">
                </div>
            </div>
        </div>
    </div>
</main>