<main>
    <div class="card">
        <h5 class="card-header">Usuario-Consulta</h5>
        <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Nuevo</button>
            </div>
            <div class="row">
                <div class="list-group" id="divListUser">

                </div>
            </div>
        </div>
    </div>
</main>